/* This is comment section */

/* This is multiline comment - first line
second line */

/* Syntex of CSS

selected tag{
  property: value;
} */

h1{
  color: blue;
}

p{
  color: rgb(255, 51, 0);
}

li{
  color: #00ff00;
}

h4{
  color: rgba(255, 51, 0, 0.4);
}

body{
  background: gray;
}

/* Another example of body background with images */
/* body{
  background: url(../Images/mickey.png);
} */

div{
  background: blue;
  border-style: double;
  border-width: 20px;
  /* Another style of border width/* border-width: medium; */
}

span{
  background: red;
  color: black;
}
