<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>servlet</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>abc</servlet-name>
		<servlet-class>com.abc.Add</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>abc2</servlet-name>
		<servlet-class>com.abc.Add2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>abc3</servlet-name>
		<servlet-class>com.abc.Add3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pqr3</servlet-name>
		<servlet-class>com.abc.Square3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>abc4</servlet-name>
		<servlet-class>com.abc.Add4</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pqr4</servlet-name>
		<servlet-class>com.abc.Square4</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>abc5</servlet-name>
		<servlet-class>com.abc.Add5</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pqr5</servlet-name>
		<servlet-class>com.abc.Square5</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>abc6</servlet-name>
		<servlet-class>com.abc.Add6</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pqr6</servlet-name>
		<servlet-class>com.abc.Square6</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>abc7</servlet-name>
		<servlet-class>com.abc.Add7</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pqr7</servlet-name>
		<servlet-class>com.abc.Square7</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>jdbc</servlet-name>
		<servlet-class>com.abc.ServletJdbc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>abc</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>abc2</servlet-name>
		<url-pattern>/add2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>abc3</servlet-name>
		<url-pattern>/add3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pqr3</servlet-name>
		<url-pattern>/sq3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>abc4</servlet-name>
		<url-pattern>/add4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pqr4</servlet-name>
		<url-pattern>/sq4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>abc5</servlet-name>
		<url-pattern>/add5</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pqr5</servlet-name>
		<url-pattern>/sq5</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>abc6</servlet-name>
		<url-pattern>/add6</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pqr6</servlet-name>
		<url-pattern>/sq6</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>abc7</servlet-name>
		<url-pattern>/add7</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pqr7</servlet-name>
		<url-pattern>/sq7</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jdbc</servlet-name>
		<url-pattern>/jdbc</url-pattern>
	</servlet-mapping>
</web-app>